/*
 * General styles.
 */

*::selection {
  color: $clr-white;
  background-color: $clr-blue-violet;
}

html {
  scroll-behavior: smooth;
  @include scrollbars(.5em, $clr-white);
}

body {
  font-family: $ff-josefin-sans-400;
  color: $clr-white;
}

strong {
  font-weight: 700;
}

.container-col {
  width: 100%;
  height: 100%;
}
