.header-container {
  padding: 1.8% 3%;
  width: 100%;
  background-color: $clr-oxford-blue;
  border-bottom: 1px solid rgba($clr-white, .5);

  > .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  > .nav > .logo {
    // margin-top: .3em;
    font: {
      size: 2em; // 32px
      weight: 700;
    }
    line-height: 1em;
    letter-spacing: .068em;
    transition: 250ms;

    &:hover {
      color: darken($clr-white, 30);
    }
  }

  > .nav > .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    gap: 1.3%;

    .link {
      font-size: 1.375em; // 22px
      transition: 250ms;

      &:hover {
        color: darken($clr-white, 30);
      }
    }
  }
}
