.wrapper-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 85vh;
  gap: .625rem;

  > .figure {
    display: flex;
    flex-direction: column;
    width: 55%;
    height: 100%;
  }

  > .figure > figcaption {
    margin-bottom: .4em;
    font-size: 1.125rem; // 18px

    > strong {
      color: $clr-roman-silver;
      font-family: $ff-roboto-cond-400;
    }
  }

  > .figure > .media {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    &#media-img {
      box-shadow: 0 0 .3125em rgba($clr-black, .8);

      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media (max-width: $tablet-md) {
  .wrapper-content {
    flex-direction: column;
    height: auto;
    gap: 4rem;

    > .figure {
      width: 95%;
      height: 90vh;
      align-self: center;
    }
  }
}

@media (max-width: $mobile-md) {
  .wrapper-content {
    gap: 3rem;

    > .figure {
      height: 60vh;
      align-self: center;
    }
  }
}

@media (max-width: $mobile-sm) {
  .wrapper-content {
    > .figure {
      height: 50vh;
      align-self: center;
    }
  }
}
